body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.container__plant-type-container {
  display: flex;
  gap: 52px;
}

.container__plant-type-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}